// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Poppins' sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Poppins' sans-serif !default;





/// Copy text color
/// @type Color
$text-color: rgba(144, 144, 144, 1) !default;

/// Main brand color
/// @type Color
$brand-color: rgba(38, 64, 101, 1) !default;


/// Light grey
/// @type Color
$comment: rgba(255, 255, 255, 0.5) !default;

/// Medium grey
/// @type Color
$mid-green: rgba(169, 214, 203, 1) !default;

$mid-gray: rgba(250, 248, 245, 1) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
